a {
  color: red;
}
a:hover{ 
  color: green;
}
footer {
  color: black;
}
aside {
  color: blue;
}
article {
  colorï¼šyellow;
}
header{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}
aside{
  display: flex;
  flex-basis: 1;
}
article{
  display: flex;
  flex-basis: 3;
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
