a:hover{ 
  color: green;
}
body{
  display: flex;
  flex-direction: column;
  	background-color:bisque;
}
main{
  display: flex;
  align-items: stretch;
  flex: auto;
}
aside{
	flex: 1;
	background-color:bisque;
		
}
  article{
	 flex: 3;
}
header{
	display: flex;
	justify-content: center;
	background-color:bisque;
}
iframe{ 
	display: flex;
	justify-content:center ;
}
footer{
	display: flex;
    justify-content:center;
  }	
  h1{
	  display: flex;
	  justify-content:center;
	  }
